<!-- templates/registration/login.html -->
{% extends "_base.html" %}
{% block title %}Inicio de Sesi&oacute;n{% endblock %}
{% block content %}
    <div id="login-form" class="d-flex flex-column w-100">
        <div class="flex-row d-flex">
            <h1 class="col-12 text-center">Iniciar Sesi&oacute;n</h1>
        </div>
        {% if form.errors %}
            <div class="flex-row">
                <p class="text-danger">
                    O su contrase&ntilde;a es incorrecta o no se encuentra registrado...
                </p>
            </div>
        {% else %}
            <div class="flex-row d-flex">
                <p class="flex-row">Utilice el siguiente formulario para iniciar sesi&oacute;n: </p>
            </div>
            <div class="flex-row d-flex">
                <p class="flex-row">¿No tiene una cuenta todavía?<a href="#"> Registrese aquí</a>.</p>
            </div>
        {% endif %}
        <div class="flex-row d-flex">
            <form class="form" method="post">
                {% for field in form %}
                    <div class="form-group m-4">
                        <div class="form-row">{{ field.label }}</div>
                        <div class="form-row">{{ field }}</div>
                    </div>
                {% endfor %}
                {% csrf_token %}
               <div class="form-row">
                   <button type="submit" class="btn btn-success">Iniciar sesi&oacute;n</button>
               </div>
            </form>
            <p>
                <a href="#">
                ¿Olvid&oacute; su contrase&ntilde;a?
                </a>
            </p>
        </div>
    </div>
{% endblock %}
