<!--templates/partials/header.html-->
<header class="container-fluid bg-dark text-white-50">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center text-capitalize text-white">
                Estudio de algoritmos de aprendizaje automático, potencial uso de la inteligencia
                artificial en la predicción de efectos adversos en activos de fármacos a partir de
                la estructura molecular
            </h1>
        </div>
        <div class="col-12">
            <h2 class="text-center">Lic. Marcus Vinicio Mora Salas</h2>
        </div>
        <div class="col-12">
            <h2 class="text-center">Iv&aacute; Rodr&iacute;guez Orozco</h2>
        </div>
        <div class="col-12">
            <h2 class="text-center">Paola Jim&eacute;nez M&eacute;ndez</h2>
        </div>
        <div class="col-12">
            <h2 class="text-center">Lic. Kristel Gómez Oviedo</h2>
        </div>
        <div class="col-12">
            <h2 class="text-center">Dra. Marianela Soto Arias</h2>
        </div>
        <div class="col-12">
            <nav class="navbar d-flex flex-md-row flex-sm-column">
                <div class="nav-item d-flex flex-md-column flex-sm-row">
                    <a class="nav-link" href="#">Inicio</a>
                </div>
                <div class="nav-item d-flex flex-md-column flex-sm-row">
                    <a class="nav-link" href="#">Fundamentos te&oacute;ricos</a>
                </div>
                <div class="nav-item d-flex flex-md-column flex-sm-row">
                    <a class="nav-link" href="#">Base de datos</a>
                </div>
                <div class="nav-item d-flex flex-md-column flex-sm-row">
                    <a class="nav-link" href="#">Análisis exploratorio</a>
                </div>
                <div class="nav-item d-flex flex-md-column flex-sm-row">
                    <a class="nav-link" href="#">Resultados</a>
                </div>
                <div class="nav-item d-flex flex-md-column flex-sm-row">
                    <a class="nav-link" href="#">Predictor</a>
                </div>
            </nav>
        </div>
    </div>
</header>